@model ecom.minhhai.bookstore.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="main">
      <section class="section-box shop-template mt-60">
        <div class="container">
          <div class="row mb-100">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
              <h3>Create an account</h3>
              <p class="font-md color-gray-500">Access to all features. No credit card required.</p>
              <div class="form-register mt-30 mb-30">
                <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                  <label asp-for="FullName" class="mb-5 font-sm color-gray-700">Full Name *</label>
                  <input asp-for="FullName" class="form-control" type="text" >
                  <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label asp-for="Email" class="mb-5 font-sm color-gray-700">Email *</label>
                  <input asp-for="Email" class="form-control" type="text" >
                  <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label asp-for="Phone" class="mb-5 font-sm color-gray-700">Phone Number *</label>
                  <input asp-for="Phone" class="form-control" type="text">
                  <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label asp-for="Password" class="mb-5 font-sm color-gray-700">Password *</label>
                  <input asp-for="Password" class="form-control" type="password" placeholder="******************">
                  <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                  <label asp-for="ConfirmPassword" class="mb-5 font-sm color-gray-700">Confirm Password *</label>
                  <input  asp-for="ConfirmPassword" class="form-control" type="password" placeholder="******************">
                  <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group"> 
                  <input class="font-md-bold btn btn-buy" type="submit" value="Sign Up">
                </div>
                <div class="mt-20"><span class="font-xs color-gray-500 font-medium">Already have an account?</span><a class="font-xs color-brand-3 font-medium" href="page-login.html"> Sign In</a></div>
                </form>
                
              </div>
            </div>
            <div class="col-lg-5">
              <div class="box-login-social pt-65 pl-50">
                <h5 class="text-center">Use Social Network Account</h5>
                <div class="box-button-login mt-25"><a class="btn btn-login font-md-bold color-brand-3 mb-15">Sign up with<img src="assets/imgs/page/account/google.svg" alt="Ecom"></a><a class="btn btn-login font-md-bold color-brand-3 mb-15">Sign up with<span class="color-blue font-md-bold">Facebook</span></a><a class="btn btn-login font-md-bold color-brand-3 mb-15">Sign up with<img src="assets/imgs/page/account/amazon.svg" alt="Ecom"></a></div>
                <div class="mt-10 text-center"><span class="font-xs color-gray-900">Buying for work?</span><a class="color-brand-1 font-xs" href="#">Create a free business account</a></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-box box-newsletter">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-12">
              <h3 class="color-white">Subscrible &amp; Get <span class="color-warning">10%</span> Discount</h3>
              <p class="font-lg color-white">Get E-mail updates about our latest shop and <span class="font-lg-bold">special offers.</span></p>
            </div>
            <div class="col-lg-4 col-md-5 col-sm-12">
              <div class="box-form-newsletter mt-15">
                <form class="form-newsletter">
                  <input class="input-newsletter font-xs" value="" placeholder="Your email Address">
                  <button class="btn btn-brand-2">Sign Up</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

